.projects {
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: center;
	margin: 0 auto;
}

.projects-top {
	display: flex;
	align-items: center;
	gap: 30px;
}

.projects-top h1 {
	font-size: 70px;
}

.projects-line {
	flex-grow: 1;
	height: 4px;
	background: linear-gradient(270deg, #e3b47a 10%, #ab3b1e 100%);
	opacity: 0.9;
	margin-left: 20px;
}

.projects span {
	background: linear-gradient(270deg, #e3b47a 10%, #ab3b1e 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	max-width: 900px;
	/* adjust based on your layout */
	margin: 0 auto;
	/* centers the container */
	padding: 2rem;
	transition: 0.3s;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/*
	backdrop-filter: blur(2px) brightness(0.2);
	background-color: rgba(0, 0, 0, 0.4);
	
    backdrop-filter: blur(2px) hue-rotate(20deg);
	background-color: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(6px) grayscale(60%);
	background-color: rgba(0, 0, 0, 0.5);

backdrop-filter: blur(10px) saturate(150%);
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-backdrop-filter: blur(10px) saturate(150%);

background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(4px);
*/
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	animation: blurIn 0.2s ease forwards;
}

@keyframes blurIn {
	from {
		backdrop-filter: blur(0px);
	}

	to {
		backdrop-filter: blur(10px);
	}
}

.modal-content {
	position: relative;
	/* Needed for absolutely positioned close button */
	background-color: #2c2c2c;
	padding: 2rem;
	border-radius: 12px;
	max-width: 600px;
	width: 90%;
	text-align: center;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
	animation: fadeInUp 0.2s ease-out;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modal-content img {
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 1rem;
}

.modal-close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #333;
	transition: color 0.2s ease-in-out;
	z-index: 1;
}

.modal-close-btn:hover {
	color: red;
}

@media (max-width: 768px) {
	.projects-container {
		grid-template-columns: 1fr;
	}
}
